ASSIGNMENT-2

In [9]:
import pandas as pd
#Q1(a)
df=pd.read_csv("AWCustomers.csv")

In [2]:
print(df.info())
print(df.head())

selected_features = ["YearlyIncome","NumberCarsOwned","NumberChildrenAtHome","Occupation","Gender", "MaritalStatus"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5892 entries, 0 to 5891
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            5892 non-null   int64
 1   Title                 35 non-null     object
 2   FirstName             5892 non-null   object
 3   MiddleName            3374 non-null   object
 4   LastName              5892 non-null   object
 5   Suffix                1 non-null      object
 6   AddressLine1          5891 non-null   object
 7   AddressLine2          104 non-null    object
 8   City                  5891 non-null   object
 9   StateProvinceName     5891 non-null   object
 10  CountryRegionName     5891 non-null   object
 11  PostalCode            5891 non-null   object
 12  PhoneNumber           5891 non-null   object
 13  BirthDate             5891 non-null   object
 14  Education             5891 non-null   object
 15  Occupation            5891 non-null   object
 16  Gender                5891 non-null   object
 17  MaritalStatus         5891 non-null   object
 18  HomeOwnerFlag         5891 non-null   float64
 19  NumberCarsOwned       5891 non-null   float64
 20  NumberChildrenAtHome  5891 non-null   float64
 21  TotalChildren         5891 non-null   float64
 22  YearlyIncome          5891 non-null   float64
 23  LastUpdated           5891 non-null   object
dtypes: float64(5), int64(1), object(18)
memory usage: 1.1+ MB
None
   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M           1.0
1  Partial College        Clerical      M             M           1.0
2        Bachelors        Clerical      F             S           0.0
3  Partial College  Skilled Manual      M             M           1.0
4  Partial College  Skilled Manual      M             S           1.0

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0             3.0                  0.0           1.0       81916.0
1             2.0                  1.0           2.0       81076.0
2             3.0                  0.0           0.0       86387.0
3             2.0                  1.0           2.0       61481.0
4             1.0                  0.0           0.0       51804.0

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

In [10]:
#Q1(b)
df_selected = df[selected_features]
print(df_selected.head())

   YearlyIncome  NumberCarsOwned  NumberChildrenAtHome      Occupation Gender  \
0         81916                3                     0        Clerical      M
1         81076                2                     1        Clerical      M
2         86387                3                     0        Clerical      F
3         61481                2                     1  Skilled Manual      M
4         51804                1                     0  Skilled Manual      M

  MaritalStatus
0             M
1             M
2             S
3             M
4             S

In [11]:
#Q1 (c)
print(df_selected.dtypes)

YearlyIncome             int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
Occupation              object
Gender                  object
MaritalStatus           object
dtype: object

In [12]:
print(df_selected.isnull().sum())

YearlyIncome            0
NumberCarsOwned         0
NumberChildrenAtHome    0
Occupation              0
Gender                  0
MaritalStatus           0
dtype: int64

In [13]:
#Q2(a)
df_selected=df_selected.dropna()

In [14]:
print(df_selected.head())

   YearlyIncome  NumberCarsOwned  NumberChildrenAtHome      Occupation Gender  \
0         81916                3                     0        Clerical      M
1         81076                2                     1        Clerical      M
2         86387                3                     0        Clerical      F
3         61481                2                     1  Skilled Manual      M
4         51804                1                     0  Skilled Manual      M

  MaritalStatus
0             M
1             M
2             S
3             M
4             S

In [15]:
print(df_selected.isnull().sum())

YearlyIncome            0
NumberCarsOwned         0
NumberChildrenAtHome    0
Occupation              0
Gender                  0
MaritalStatus           0
dtype: int64

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_selected[['YearlyIncome']] = scaler.fit_transform(df_selected[['YearlyIncome']])
print(df_selected)

       YearlyIncome  NumberCarsOwned  NumberChildrenAtHome      Occupation  \
0          0.496842                3                     0        Clerical
1          0.489453                2                     1        Clerical
2          0.536172                3                     0        Clerical
3          0.317083                2                     1  Skilled Manual
4          0.231958                1                     0  Skilled Manual
...             ...              ...                   ...             ...
18356      0.242065                1                     0  Skilled Manual
18357      0.312781                2                     0  Skilled Manual
18358      0.232442                2                     0  Skilled Manual
18359      0.543121                0                     0        Clerical
18360      0.980128                2                     0    Professional

      Gender MaritalStatus
0          M             M
1          M             M
2          F             S
3          M             M
4          M             S
...      ...           ...
18356      F             M
18357      F             S
18358      F             S
18359      F             S
18360      F             M

[18361 rows x 6 columns]

In [17]:
#Q2(c)
df_selected["IncomeBin"] = pd.cut(df_selected["YearlyIncome"], bins=4, labels=["Low", "Medium", "High", "Very High"])

In [18]:
#Q2(d)
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
df_selected[['YearlyIncome']] = Scaler.fit_transform(df_selected[['YearlyIncome']])
print(df_selected)

       YearlyIncome  NumberCarsOwned  NumberChildrenAtHome      Occupation  \
0          0.298555                3                     0        Clerical
1          0.271180                2                     1        Clerical
2          0.444261                3                     0        Clerical
3         -0.367401                2                     1  Skilled Manual
4         -0.682765                1                     0  Skilled Manual
...             ...              ...                   ...             ...
18356     -0.645321                1                     0  Skilled Manual
18357     -0.383337                2                     0  Skilled Manual
18358     -0.680973                2                     0  Skilled Manual
18359      0.470006                0                     0        Clerical
18360      2.088996                2                     0    Professional

      Gender MaritalStatus  IncomeBin
0          M             M     Medium
1          M             M     Medium
2          F             S       High
3          M             M     Medium
4          M             S        Low
...      ...           ...        ...
18356      F             M        Low
18357      F             S     Medium
18358      F             S        Low
18359      F             S       High
18360      F             M  Very High

[18361 rows x 7 columns]

In [19]:
df_final = pd.get_dummies(df_selected, columns=["Occupation", "Gender", "MaritalStatus", "IncomeBin"])
print(df_final.head())

   YearlyIncome  NumberCarsOwned  NumberChildrenAtHome  Occupation_Clerical  \
0      0.298555                3                     0                 True
1      0.271180                2                     1                 True
2      0.444261                3                     0                 True
3     -0.367401                2                     1                False
4     -0.682765                1                     0                False

   Occupation_Management  Occupation_Manual  Occupation_Professional  \
0                  False              False                    False
1                  False              False                    False
2                  False              False                    False
3                  False              False                    False
4                  False              False                    False

   Occupation_Skilled Manual  Gender_F  Gender_M  MaritalStatus_M  \
0                      False     False      True             True
1                      False     False      True             True
2                      False      True     False            False
3                       True     False      True             True
4                       True     False      True            False

   MaritalStatus_S  IncomeBin_Low  IncomeBin_Medium  IncomeBin_High  \
0            False          False              True           False
1            False          False              True           False
2             True          False             False            True
3            False          False              True           False
4             True           True             False           False

   IncomeBin_Very High
0                False
1                False
2                False
3                False
4                False

In [20]:
#Q3(a)
from numpy import dot
from numpy.linalg import norm
def simple_matching(row1, row2):
    return sum(row1 == row2) / len(row1)
def jaccard_similarity(row1, row2):
    intersection = set(row1) & set(row2)
    union = set(row1) | set(row2)
    return len(intersection) / len(union)
def cosine_similarity(row1, row2):
    return dot(row1, row2) / (norm(row1) * norm(row2))
row1 = df_final.iloc[0]
row2 = df_final.iloc[1]
binary_columns = [col for col in df_final.columns if df_final[col].nunique() == 2]
jaccard = jaccard_similarity(row1[binary_columns], row2[binary_columns])
simple = simple_matching(row1, row2)
cosine = cosine_similarity(row1, row2)
print("Jaccard Similarity:", jaccard)
print("Simple Matching:", simple)
print("Cosine Similarity:", cosine)

Jaccard Similarity: 1.0
Simple Matching: 0.8125
Cosine Similarity: 0.9250349973184169

In [21]:
#Q3(b)
commute = df_final['NumberCarsOwned']
income = df_final['YearlyIncome']
correlation = commute.corr(income)
print(correlation)

0.4773001523631695